<ion-view view-title="我的设备" show-tabs>
    <ion-nav-bar class="bar-positive " align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-ios-arrow-left fc-ff" ng-click="$ionicGoBack()"></button>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <button class='button button-clear' ng-click="scanbarcode()"><i class='icon ion-qr-scanner font-white'></i></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="padding" scroll="true" overflow-scroll="true">
        <ion-list can-swipe="true">
            <ion-item ng-repeat="d in deviceList">
                {{d.deviceName}}
                <ion-option-button class="button-positive" ng-click="deleteDevice($index)">
                    删除
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>