<ion-view cache-view="true" title="患者端测量记录">
   
  <ion-content>

<!-- <div class="bar bar-header" style="position:absolute; top:-58px; border: none;"> -->
    <div style="text-align:center;height:44px" class="row">
      <button id="week" ng-click="toWeekReports()" class="seasonBtn">周</button>
      <button id="month" ng-click="toMonthReports()" class="seasonBtn">月</button>
      <button id="season" ng-click="toSeasonReports()" class="seasonBtn">季</button>
      <button id="year" ng-click="toYearReports()" class="seasonBtn">年</button>
    </div>   

  <div ng-if="type=='周'">
  
  </div>
  <div ng-if="type=='月'">
  </div>
  <div ng-if="type=='季'">
  </div>
  <div ng-if="type=='年'">
  </div>
  <!-- <div style="margin-top: 50px; min-width: 300px; height: 450px;" id="container"></div> -->

  </ion-content>

</ion-view>