<ion-view cache-view="true" title="患者端测量记录" hide-tabs>
   <ion-nav-bar class="bar-positive " align-title="center">
        <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left fc-ff" ng-click="Goback()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
  <ion-content class="padding">
      <ion-refresher pulling-text="下拉刷新" spinner='ripple' refreshing-text="刷新一下" on-refresh="Refresh()">
      </ion-refresher>

    <div style="text-align:center;height:44px" class="row">
      <button id="week" ng-click="toWeekReports()" class="seasonBtn">周</button>
      <button id="month" ng-click="toMonthReports()" class="seasonBtn">月</button>
      <button id="season" ng-click="toSeasonReports()" class="seasonBtn">季</button>
      <button id="year" ng-click="toYearReports()" class="seasonBtn">年</button>
    </div>   

    <div style="text-align:center; height:44px;" class="row">
      <button ng-click="last()" class="seasonBtn2"><i class="icon ion-ios-arrow-left"></i></button>
      <button id="middle" class="seasonBtn2"></button> 
      <button ng-if="modify" ng-click="next()" class="seasonBtn2"><i class="icon ion-ios-arrow-right"></i></button>
      <button ng-if="!modify" class="seasonBtn2"><i class="icon ion-ios-arrow-right"></i></button>
    </div> 

    <div style="text-align:center; height:44px;" class="row">
      <button ng-if="flagT&&comments" class="textBtn">点击图表区查看医生报告/医生评论</button>
    </div> 

    <div ng-if="type=='week'">
      <div ng-if="flagT" style="margin-top: 0px; min-width: 300px; " id="container1"></div><!-- //体温 -->
      <div ng-if="flagWeight" style="margin-top: 0px; min-width: 300px; " id="container2"></div><!-- //体重 -->      
      <div ng-if="flagBP" style="margin-top: 0px; min-width: 300px; " id="container3"></div><!-- //血压 -->
      <div ng-if="flagVol" style="margin-top: 0px; min-width: 300px; " id="container4"></div><!-- //尿量 -->
      <div ng-if="flagHR" style="margin-top: 0px; min-width: 300px; " id="container5"></div><!-- //心率 -->
      <div ng-if="flagPD" style="margin-top: 0px; min-width: 300px; " id="container6"></div><!-- //腹透 -->
      <div style="margin-top: 0px; min-width: 300px; " id="container7"></div><!-- //化验 -->
      <div style="margin-top: 0px; min-width: 300px; " id="container8"></div>
      <div style="margin-top: 0px; min-width: 300px; " id="container9"></div>
      <div style="margin-top: 0px; min-width: 300px; " id="container10"></div>
      <div style="margin-top: 0px; min-width: 300px; " id="container11"></div>
    </div>

    <div ng-if="type=='month'">
      <div ng-if="flagT" style="margin-top: 0px; min-width: 300px; " id="container1"></div><!-- //体温 -->
      <div ng-if="flagWeight" style="margin-top: 0px; min-width: 300px; " id="container2"></div><!-- //体重 -->
      <div ng-if="flagBP" style="margin-top: 0px; min-width: 300px; " id="container3"></div><!-- //血压 -->
      <div ng-if="flagVol" style="margin-top: 0px; min-width: 300px; " id="container4"></div><!-- //尿量 -->
      <div ng-if="flagHR" style="margin-top: 0px; min-width: 300px; " id="container5"></div><!-- //心率 -->
      <div ng-if="flagPD" style="margin-top: 0px; min-width: 300px; " id="container6"></div><!-- //腹透 -->
      <div style="margin-top: 0px; min-width: 300px; " id="container7"></div><!-- //化验 -->
      <div style="margin-top: 0px; min-width: 300px; " id="container8"></div>
      <div style="margin-top: 0px; min-width: 300px; " id="container9"></div>
      <div style="margin-top: 0px; min-width: 300px; " id="container10"></div>
      <div style="margin-top: 0px; min-width: 300px; " id="container11"></div>
    </div>

    <div ng-if="type=='season'">
      <div ng-if="flagT" style="margin-top: 0px; min-width: 300px; " id="container1"></div><!-- //体温 -->
      <div ng-if="flagWeight" style="margin-top: 0px; min-width: 300px; " id="container2"></div><!-- //体重 -->
      <div ng-if="flagBP" style="margin-top: 0px; min-width: 300px; " id="container3"></div><!-- //血压 -->
      <div ng-if="flagVol" style="margin-top: 0px; min-width: 300px; " id="container4"></div><!-- //尿量 -->
      <div ng-if="flagHR" style="margin-top: 0px; min-width: 300px; " id="container5"></div><!-- //心率 -->
      <div ng-if="flagPD" style="margin-top: 0px; min-width: 300px; " id="container6"></div><!-- //腹透 -->
      <div style="margin-top: 0px; min-width: 300px; " id="container7"></div><!-- //化验 -->
      <div style="margin-top: 0px; min-width: 300px; " id="container8"></div>
      <div style="margin-top: 0px; min-width: 300px; " id="container9"></div>
      <div style="margin-top: 0px; min-width: 300px; " id="container10"></div>
      <div style="margin-top: 0px; min-width: 300px; " id="container11"></div>
    </div>

    <div ng-if="type=='year'">
      <div ng-if="flagT" style="margin-top: 0px; min-width: 300px; " id="container1"></div><!-- //体温 -->
      <div ng-if="flagWeight" style="margin-top: 0px; min-width: 300px; " id="container2"></div><!-- //体重 -->
      <div ng-if="flagBP" style="margin-top: 0px; min-width: 300px; " id="container3"></div><!-- //血压 -->
      <div ng-if="flagVol" style="margin-top: 0px; min-width: 300px; " id="container4"></div><!-- //尿量 -->
      <div ng-if="flagHR" style="margin-top: 0px; min-width: 300px; " id="container5"></div><!-- //心率 -->
      <div ng-if="flagPD" style="margin-top: 0px; min-width: 300px; " id="container6"></div><!-- //腹透 -->
      <div style="margin-top: 0px; min-width: 300px; " id="container7"></div><!-- //化验 -->
      <div style="margin-top: 0px; min-width: 300px; " id="container8"></div>
      <div style="margin-top: 0px; min-width: 300px; " id="container9"></div>
      <div style="margin-top: 0px; min-width: 300px; " id="container10"></div>
      <div style="margin-top: 0px; min-width: 300px; " id="container11"></div>
    </div>

  </ion-content>

</ion-view>