<ion-view cache-view="false" view-title="任务设置">
    <ion-nav-buttons side="primary">
        <a class="button button-icon icon ion-ios-arrow-left" href="#/tab/task"></a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <p>请选择任务执行时间</p>
        <div class="list">
            <a class="item item-icon-right" ng-repeat = "item in tasks">
                {{item.category}}
                <p>{{item.Freq}}</p>
                <p>{{item.Content}}</p>
                <p>{{item.Detail}}</p>
                <i class="icon ion-android-calendar">
                    <select ng-model="item.SelectedDay">
                        <option ng-repeat="day in item.Days">{{day}}</option>
                    </select>                   
                </i>
            </a>           
        </div>
        <p>当前日期：{{Test}}</p>
        <p ng-repeat = "item in tasks">{{item.TaskTime}}</p>
        <div class="content padding has-header">
            <button class="button button-block button-positive" ng-click="SetDate()">确定</button>
        </div>
        
    </ion-content>
</ion-view>

