<ion-view view-title="尿大夫" hide-tabs>
    <ion-nav-bar class="bar-positive " align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-ios-arrow-left fc-ff" ng-click="$ionicGoBack()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="padding" scroll="true" overflow-scroll="true">
        <iframe ng-src='{{navigation}}' height="100%" width="100%">
            <p>Your browser does not support iframes.</p>
        </iframe>
    </ion-content>
</ion-view>
