<ion-view cache-view="true" title="患者端测量记录">
   
   <ion-content>

  <div class="bar bar-header" style="position:absolute; top:-58px; border: none;">
    <div style="text-align:center;height:44px" class="row">
    <button ng-click="toYearReports" class="seasonBtn"><i class="icon ion-calendar"></i>年</button>
    <button ng-click="toSeasonReports" class="seasonBtn"><i class="icon ion-clock"></i>季</button>
    <button ng-click="toMonthReports" class="seasonBtn"><i class="icon ion-compass"></i>月</button>
    <button ng-click="toWeekReports" class="seasonBtn"><i class="icon ion-lock-combination"></i>周</button>
    </div>
  </div> 

 
  <!-- <div style="margin-top: 50px; min-width: 300px; height: 450px;" id="container"></div> -->

  </ion-content>

</ion-view>