<ion-view title="手机号验证">
    <ion-nav-buttons side="left">
      <my-nav-back-button ng-click="$ionicGoBack()"></my-nav-back-button>
    </ion-nav-buttons>
  <!-- <div  style="position: absolute;top: 43px;z-index:100;display: block;height: 3px;background-color: #33cd5f;{{barwidth}}" ></div> -->
  <ion-content padding="true">
  <div class="list list-inset" style="margin-bottom:0;margin-top: 30px">
    <label class="item item-input green-edite-css" >
      <span class="input" style="margin-right:16px"><i class="icon ion-iphone ion-iphone1"></i></span>
      <input type="tel"  ng-model="Verify.Phone" placeholder="手机号" >
      <button-clear-input input="Verify.Phone"></button-clear-input>
    </label>
    <label class="item item-input green-edite-css mg-10 ">
      <span class="input" style="margin-right:16px"><i class="iconfont icon-suo"></i></span>
      <input type="password" ng-model="Verify.Code" placeholder="验证码" >
      <button-clear-input input="Verify.Code"></button-clear-input>
    </label>
  </div>

  <p style="color:#B8B8B8;text-align: center;">{{logStatus}}</p>
  <button  style="margin-top:30px" class="button button-block button-stable green-bg font-white" ng-disabled="isable"  ng-click = "getcode(Verify)">
    {{veritext}}
  </button>

   <button  style="margin-top:0" class="button button-block button-balanced green-bg font-white" ng-click ="gotoReset(Verify)">
     验证
   </button>

  </div>

  </ion-content>
</ion-view>
