<ion-view title="重置密码">
  <ion-nav-buttons side="left">
    <my-nav-back-button ng-click="BackMain()"></my-nav-back-button>
  </ion-nav-buttons>

    
  <!-- <div  style="position: absolute;top: 43px;z-index:100;display: block;height: 2.5px;background-color: #33cd5f;{{barwidth}}" ></div> -->
  <ion-content class="paddContent">

    <div style="text-align: center;margin-top:25px">
      <img style="border-radius: 20%;width: 80px;height: 80px;" ng-src="img/app.png">
      <p>肾事管家</p>
    </div>

    <form>
      <div class="list" style="margin-bottom:0;margin-top: 30px">
        <label class="item item-input green-edite-css">
          <span class="input" style="margin-right:16px"><i class="icon ion-ios-locked-outline"></i></span>
          <input type="password" placeholder="请输入6位以上密码" ng-model="setPassword.newPass">
          <button-clear-input input="setPassword.newPass"></button-clear-input>

        </label>
        <label class="item item-input green-edite-css mg-10">
          <span class="input" style="margin-right:16px"><i class="icon ion-ios-locked-outline"></i></span>
          <input type="password" placeholder="请再次确认密码" ng-model="setPassword.confirm">
          <button-clear-input input="setPassword.confirm"></button-clear-input>

        </label>

        <!--<p style="color:#CCCCCC">密码要求为6-18位，同时包括数字和字母</p>-->
        <p style="color:#c55e19;text-align: center;">{{logStatus}}</p>
      </div>

      <!--<a class="button " href="#/tab/home">账户</a>-->
      <button class="button roundBtn" ng-click="resetPassword(setPassword)">下一步</button>

    </form>

  </ion-content>
</ion-view>
