<ion-view title="{{headerText}}">
      <ion-nav-buttons side="left">
        <my-nav-back-button ng-click="BackMain()"></my-nav-back-button>
      </ion-nav-buttons>

    
  <!-- <div  style="position: absolute;top: 43px;z-index:100;display: block;height: 2.5px;background-color: #33cd5f;{{barwidth}}" ></div> -->
  <ion-content padding="true">

    <div class="list">
      <label class="item item-input green-edite-css mg-20">

        <input type="password" placeholder="输入密码" ng-model="setPassword.newPass">
        <button-clear-input input="setPassword.newPass"></button-clear-input>

      </label>
      <label class="item item-input green-edite-css mg-10">

        <input type="password" placeholder="确认密码" ng-model="setPassword.confirm">
        <button-clear-input input="setPassword.confirm"></button-clear-input>

      </label>

      <!--<p style="color:#CCCCCC">密码要求为6-18位，同时包括数字和字母</p>-->
      <p style="color:#c55e19;text-align: center;">{{logStatus}}</p>
    </div>

    <!--<a class="button " href="#/tab/home">账户</a>-->
    <a class="button button-block button-balanced green-bg font-white" ng-click="resetPassword(setPassword)">{{buttonText}}</a>

  

  </ion-content>
</ion-view>
