<ion-view title="登录">
  <ion-nav-bar class="bar-dark nav-title-slide-ios7 green-bg"  >

  </ion-nav-bar>
  <!-- <div  style="position: absolute;top: 43px;z-index:100;display: block;height: 2px;background-color: #33cd5f;{{barwidth}}" ></div> -->
  <ion-content padding="true" class="green-white-bg">
    <!--  <div class="row" >
       <div class="col text-center" >
         <div style="max-width:500px"> -->

    <div class="list list-inset" style="margin-bottom:0;margin-top: 30px">
      <label class="item item-input green-edite-css" >
        <span class="input " style="margin-right:16px"><i class="icon ion-iphone"></i></span>
        <input type="tel"  ng-model="logOn.username" placeholder="手机号" >
      </label>
      <label class="item item-input green-edite-css mg-10 ">
        <span class="input" style="margin-right:16px"><i class="icon ion-ios-locked-outline"></i></span>
        <input type="password" ng-model="logOn.password" placeholder="密 码" >
      </label>
    </div>
    <div class="row" style="padding:0;margin-top: 5px" >
      <div class="col col-30 "><p style="color:#7a7a7a;text-align:left" ng-click="toRegister()">立即注册</p></div>
      <div class="col col-40"><p style="color:#B8B8B8">{{logStatus}}</p></div>
      <div class="col "><p style="color:#7a7a7a;text-align:right;" ng-click="toReset()">忘记密码</p></div>
    </div>

    <button style="margin-top:30px" class="button button-block button-balanced green-bg" ng-click="signIn(logOn)">立即登录</button>
    <button style="margin-top:0" class="button button-block button-balanced green-bg" >微信登录</button>
    <!-- <button style="margin-top:0" class="button button-block button-balanced" ng-click="test()">测试</button> -->

    <!--       </div>
        </div>
      </div> -->

  </ion-content>


</ion-view>
