<ion-view title="消息中心" hide-tabs>
    <ion-nav-buttons side="left">
        <my-nav-back-button ng-click="Goback()"></my-nav-back-button>
    </ion-nav-buttons>


  <ion-content  style="" class="all-message-cont">

      <!-- <div ng-if="pay||alert||task||insurance"> -->
      <!-- 支付消息 -->
      <ion-item class="item item-avatar card" ng-if="pay.history" style="padding-top: 25px;padding-bottom: 25px;" ng-click="getMessageDetail(pay)">
        <img ng-src="img/icon_paymessage.png" image-red-point="!pay.readOrNot">
        <!-- <div class="row"> -->
            <h2>支付消息</h2>
            <!-- <span class="col" style="font-size: 12px">{{pay.time|dateFormat:"YYYY-MM-DD h:m"}}</span> -->
        <!-- </div> -->
        <!-- <span class="row" style="margin-left:5px;">{{pay.description}}</span> -->
      </ion-item>
     
      <!-- 警报消息 -->
<!--       <ion-item class="item item-avatar card" ng-if="alert" style="padding-top: 25px;padding-bottom: 25px;" ng-click="getMessageDetail(alert)">
        <img ng-src="img/icon_warning.png" image-red-point="!alert.readOrNot"> -->
        <!-- <div class="row"> -->
<!--             <h2>警报消息</h2> -->
            <!-- <span class="col" style="font-size: 12px">{{alert.time|dateFormat:"YYYY-MM-DD h:m"}}</span> -->
        <!-- </div> -->
        <!-- <span class="row" style="margin-left:5px;">{{alert.description}}</span> -->
<!--       </ion-item> -->

      
      <!-- 任务消息 -->
      <ion-item class="item item-avatar card" ng-if="task.history" style="padding-top: 25px;padding-bottom: 25px;" ng-click="getMessageDetail(task)">
        <img ng-src="img/icon_renwu.png" image-red-point="!task.readOrNot">
        <!-- <div class="row"> -->
            <h2>任务消息</h2>
            <!-- <span class="col" style="font-size: 12px">{{task.time|dateFormat:"YYYY-MM-DD h:m"}}</span> -->
        <!-- </div> -->
        <!-- <span class="row" style="margin-left:5px;">{{task.description}}</span> -->
      </ion-item>

      <!-- 退款消息 -->
      <ion-item class="item item-avatar card" ng-if="refund.history" style="padding-top: 25px;padding-bottom: 25px;" ng-click="getMessageDetail(refund)">
        <img ng-src="img/icon_paymessage.png" image-red-point="!refund.readOrNot">
        <!-- <div class="row"> -->
            <h2>退款消息</h2>
            <!-- <span class="col" style="font-size: 12px">{{task.time|dateFormat:"YYYY-MM-DD h:m"}}</span> -->
        <!-- </div> -->
        <!-- <span class="row" style="margin-left:5px;">{{task.description}}</span> -->
      </ion-item>
     
      <!-- 保险消息 -->
      <ion-item class="item item-avatar card" ng-if="insurance.history" style="padding-top: 25px;padding-bottom: 25px;" ng-click="getMessageDetail(insurance)">
        <img ng-src="img/security.png" image-red-point="!insurance.readOrNot">
        <!-- <div class="row"> -->
        <h2>保险消息</h2>
            <!-- <span class="col" style="font-size: 12px">{{insurance.time|dateFormat:"YYYY-MM-DD h:m"}}</span> -->
        <!-- </div> -->
        <!-- <span class="row" style="margin-left:5px;">{{insurance.description}}</span> -->
      </ion-item>

      <!-- 系统通知 -->
      <ion-item class="item item-avatar card" ng-if="Info.history" style="padding-top: 25px;padding-bottom: 25px;" ng-click="getMessageDetail(Info)">
        <img ng-src="img/mail.png" image-red-point="!Info.readOrNot">
        <!-- <div class="row"> -->
        <h2>系统通知</h2>
            <!-- <span class="col" style="font-size: 12px">{{insurance.time|dateFormat:"YYYY-MM-DD h:m"}}</span> -->
        <!-- </div> -->
        <!-- <span class="row" style="margin-left:5px;">{{insurance.description}}</span> -->
      </ion-item>

      <!-- 群体教育消息 -->
      <ion-item class="item item-avatar card" ng-if="edu.history" style="padding-top: 25px;padding-bottom: 25px;" ng-click="getMessageDetail(edu)">
        <img ng-src="img/edu.png" image-red-point="!edu.readOrNot">
        <h2>医生消息</h2>
      </ion-item>

      <!-- </div> -->
      
      <!-- 聊天消息 -->
      <ion-item  ng-repeat="chat in chats"  class="item item-avatar card" ng-click="getConsultRecordDetail($event,chat)">
        <img ng-src="{{chat.docPhoto}}" image-red-point="!chat.readOrNot">
        <div class="row">
            <h2 class="col">{{chat.docName}}</h2>
            <span class="col" style="font-size: 12px">{{chat.time|dateFormat:"YYYY-MM-DD h:m"}}</span>
        </div>
        <span class="row" style="margin-left:5px;">{{chat.description}}</span>
      </ion-item>

      <div class="card" ng-if="(!pay)&&(!alert)&&(!task)&&(!insurance)&&(!Info)&&(!edu)&&(chats.length==0)">
        <div class="item item-text-wrap">
            暂时没有消息
        </div>
      </div>
        
    <ion-refresher pulling-text="下拉刷新..." on-refresh="do_refresher()"></ion-refresher>
  </ion-content>

</ion-view>
