<ion-popover-view>
    <ion-header-bar class='bar-positive green-bg'>
        <h1 class="title" style="text-align: center;">上传</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list> 
        <div class = "padding">
          <button class="button button-block button-primary " ng-click="newHealth()"><i class="icon ion-ios-plus"></i>
              新建
          </button>
        
          <button class="button button-block button-primary " ng-click="chooseHealths()"><i class="icon ion-android-list"></i>
              选择
          </button>
         
        </div>
      </ion-list>
    </ion-content>
</ion-popover-view>
