<ion-popover-view>
		<ion-content >
      <div style="width: 120px;position:absolute;top:44px;border-radius:5px; background-color: #f8f8f8;right: 0px">
          <button style="font-size: 12px;padding:0px;" class="button button-small button-block " ng-click="urineUpload()"><i class="icon ion-camera"></i>
        尿液试纸上传
          </button>

          <button style="font-size: 12px;padding:0px;" class="button button-small button-block" ng-click="newHealth()"><i class="icon ion-android-list"></i>
        其他健康信息
          </button>

      </div>
		<!-- <ul class="list">
		    <li class="item">
		      <button class="button button-clear"><i class="icon iconfont icon-lingdang"></i>尿大夫</button>
		    </li>
		    <li class="item">
		      <button class="button"><i class="icon iconfont icon-lingdang"></i>其他</button>
		    </li>

		</ul> -->
    </ion-content>
</ion-popover-view>

<!-- <style type="text/css">
  .popover{
  }
  .popover .item{
	padding-top: 5px;padding-bottom: 5px;
    border-left: 0;
    border-right: 0;
	}
	
  .popover .list{
    width: 200px;
    margin-bottom: 0;
    padding: 10px;
    float: right;
  }
  .consult-pop{width: 200px}
</style> -->
