<ion-popover-view class="consult-pop">
		<ion-list style="background-color: #6ac4f8"> 
            <div class = "padding">
                <button class="button button-block button-primary " ng-click="urineUpload()" style="font-size: 100%"><i class="icon ion-camera"></i>
              尿液试纸上传
                </button>
        
                <button class="button button-block button-primary " ng-click="newHealth()" style="font-size: 100%"><i class="icon ion-android-list"></i>
              其他健康信息
                </button>
         
            </div>
        </ion-list>
		<!-- <ul class="list">
		    <li class="item">
		      <button class="button button-clear"><i class="icon iconfont icon-lingdang"></i>尿大夫</button>
		    </li>
		    <li class="item">
		      <button class="button"><i class="icon iconfont icon-lingdang"></i>其他</button>
		    </li>

		</ul> -->
</ion-popover-view>

<style type="text/css">
  .popover{
  }
  .popover .item{
	padding-top: 5px;padding-bottom: 5px;
    border-left: 0;
    border-right: 0;
	}
	
  .popover .list{
    width: 200px;
    margin-bottom: 0;
    padding: 10px;
    float: right;
  }
  .consult-pop{width: 200px}
</style>
