<ion-view title="关于我们" hide-tabs>

    <ion-nav-buttons side="left">
        <my-nav-back-button ng-click="Goback()"></my-nav-back-button>
    </ion-nav-buttons>



    <ion-content class="padding">
        
        <div style="text-align: center;margin-top: 30px">
            <img style="border-radius: 20%;width: 80px;height: 80px;" ng-src="img/app.png">
            <p style="margin-top: 10px;">肾事管家</p>
            <p>2.0.0版</p>
        </div>
        
    

        <div class="item-text-wrap" style="margin-top: 10px;text-indent:1em;line-height: 25px;padding-top: 15px;padding-bottom: 15px; color: #666;font-size: 16px;">
        <p>肾事管家是一款面向肾病患者的APP，可以查看健康信息，保存自己的检查化验单，还可以与医生随时交流沟通，进一步管理疾病的发展。</p>
        </div>

        <div class="item-text-wrap" style="text-align: left;margin-top: 10px;margin-left: 15%;font-size: 15px;color: #666;">
            <p>联系电话：<i style="font-size: 16px;color: #6ac4f8;">400-804-5818</i></p>
            <p>服务邮箱：<i style="font-size: 16px;color: #6ac4f8;">info@highholding.cn</i></p>
            <p>微信公众号：<i style="font-size: 16px;color: #6ac4f8;">hzhhyygl</i></p>
            <p>官网地址：<i style="font-size: 16px;color: #6ac4f8;">www.highholding.cn</i></p>
        </div>
        
       
       
    </ion-content>
        <div class="bar bar-footer no-line" style="position: absolute;bottom:25px;">
            <p class="col" style="text-align: center;color:#b2b2b2;font-size: 5px">Copyright @2017-2022</p>
        </div>
           
        <div class="bar bar-footer no-line" style="position: absolute;bottom:5px;" >
            <p class="col"  style="text-align: center;color: #b2b2b2;font-size: 5px">杭州海泓医院管理有限公司</p>
        </div>
      
    
</ion-view>
