      <ion-view title="修改密码" hide-tabs>
          <ion-nav-buttons side="left" >
            <my-nav-back-button ng-click="$ionicGoBack()"></my-nav-back-button>
          </ion-nav-buttons>

      

        <ion-content padding="true">
         <div ng-hide="!ishide" class="list" >

            <label  class="item item-input green-edite-css">
              <input type="password" placeholder="请验证旧密码" ng-model="change.oldPassword">
              <button-clear-input input="change.oldPassword"></button-clear-input>


            </label>
            <p style="color:#c55e19;text-align: center;">{{logStatus1}}</p>
            <button  class="button button-block green-bg font-white " ng-click="passwordCheck(change)">
              验证
            </button>
            

        </div>

          <div ng-hide="ishide" class="list">
                <label class="item item-input green-edite-css">
                    <input type="password" placeholder="请输入6位以上新密码"  style="margin-right: 10%;"  ng-model="change.newPassword">
                    <button-clear-input input="change.newPassword"></button-clear-input>

                </label>
                <label class="item item-input green-edite-css mg-10">
                    <input type="password" placeholder="确认密码"  style="margin-right: 10%;" ng-model="change.confirmPassword">
                    <button-clear-input input="change.confirmPassword"></button-clear-input>

                </label> 
            
            <p style="color:#c55e19;text-align: center;">{{logStatus2}}</p>
            <button class="button button-block green-bg font-white " ng-click ="gotoChange(change)">修改</button>
           
          </div>

        </ion-content>
      </ion-view>
