<ion-view cache-view="false" title="患者论坛" show-tabs>
	<ion-nav-buttons side="right" >
        <button class="button button-clear" ng-click="GoToMessage() " head-red-point='HasUnreadMessages'><i class="icon iconfont icon-lingdang"></i></button>
     </ion-nav-buttons>

  <ion-content style="">

    <iframe id="bbsframe" ng-src ='{{navigation}}' height="100%" width="100%">
      <p>Your browser does not support iframes.</p>
      </iframe>

      <iframe id="bbsframe_login" ng-src ='{{navigation_login}}' height="100%" width="100%" ng-show=false>
      <p>Your browser does not support iframes.</p>
      </iframe>
  </ion-content>
          
</ion-view>