<ion-view cache-view="false" title="我的订单" hide-tabs>

  <ion-nav-buttons side="left" >
    <my-nav-back-button ng-click="$ionicGoBack()"></my-nav-back-button>
  </ion-nav-buttons>


  <ion-content padding="true">

    <ion-list ng-if="!noOrder">

        <div class="card row item-text-wrap" ng-repeat="order in myOrders">
          <div class="col col-75">
            <p class="left">交易对象：{{order.doctorName}}</p>
            <p class="left">服务类型：{{order.type|filterOrderType}}</p>
            <p class="left">订单时间：{{order.ordertime|dateFormat:'YYYY-MM-DD h:m'}}</p>
            <p class="left">支付金额：{{order.money|filterMoney|currency : '￥'}}</p>
            <p class="left" ng-if="order.paytime">支付时间：{{order.paytime|dateFormat:'YYYY-MM-DD h:m'}}</p>
            <div ng-if="order.perDiagObject" style="color:#6ac4f8">
              <p class="left">预约时间：{{order.perDiagObject.bookingDay|dateFormat:'YYYY-MM-DD'}} {{{Morning:"上午",Afternoon:"下午"}[order.perDiagObject.bookingTime]}}</p>
              <p class="left">预约地点：{{order.perDiagObject.place}}</p>
            </div>
          </div>

          <div class="col col-25" style="position: relative;">
            <p ng-if="order.money!==0 && order.freeFlag!==1" class="tag" style="background-color: #95E1D3">{{order.paystatus|filterPayStatus}}</p>
            <p ng-if="order.money===0||order.freeFlag===1" class="tag" style="background-color: #95E1D3">免费</p>
            <p ng-if="order.type==1||order.type==2||order.type==3||order.type==6||order.type==7" class="tag" style="background-color: #FCE38A">{{order.conselObject|filterOrderStatus:'consult'}}</p>
            <p ng-if="order.type==4" class="tag" style="background-color: #FCE38A">{{order.docInChaObject|filterOrderStatus:'incharge'}}</p>
            <p ng-if="order.type==5" class="tag" style="background-color: #FCE38A">{{order.perDiagObject|filterOrderStatus:'appointment'}}</p>
            <p ng-if="order.perDiagObject" class="tag" style="background-color: #F38181"> 就诊码{{order.perDiagObject.code}}</p>
            <button class="tag" ng-if="order.perDiagObject && order.perDiagObject.diagId && order.perDiagObject.status===0" ng-click="cancelAppointment(order.perDiagObject,order.doctorName)">取消</br>预约</button>
            <!-- <p style="background-color: #6ac4f8;color: #fff">{{order.orderstatus|orderStatus:'order'}}</p> -->
          </div>
        </div>
    </ion-list>

    <div class="card" ng-if="noOrder">
        <div class="item item-text-wrap">
            目前没有消费记录
        </div>
    </div>

    <ion-refresher pulling-text="下拉刷新..." on-refresh="do_refresher()"></ion-refresher>
    
    
    
    


           
  </ion-content>
          
</ion-view>