<ion-view cache-view="false" title="申请主管医生" show-tabs>
    <ion-nav-buttons side="left">
        <my-nav-back-button ng-click="$ionicGoBack()"></my-nav-back-button>
    </ion-nav-buttons>
    
    <ion-content class="padding">

    <div class="item item-thumbnail-left" style="border-width: 0px 0px 1px 0px"> 
        <img style="border-radius: 100%;top: 40%;margin-top: -30px" ng-src="{{doctor.photoUrl  || 'img/DefaultAvatar.jpg'}}">
        <span>{{doctor.name}}</span>
        <span style="float: right">{{doctor.department}}</span>
        <p>{{doctor.workUnit||"无"}}</p>
        <p>职称:{{doctor.title}}</p>
        <p>性别：{{{1:"男",2:"女",undefined:"未填写"}[doctor.gender]}}</p>
        
    </div>

    <div style="color:#aaa;margin-top: 30px">
        <p><i class="ion-record" style="color:#6ac4f8"></i><span style="padding-left:5px">主管医生将为您提供全面个性化的健康方案制定和调整，数据分析解读，每月健康报告</span></p>
        <p><i class="ion-record" style="color:#6ac4f8"></i><span style="padding-left:5px">服务期间主管医生的咨询和问诊服务免费（不包括加急咨询），不限次数</span></p>
    </div>

    <label  class="item item-input item-select-custom green-edite-css">
        <span class="input-label">购买时长</span>
        <select ng-model="ChargeDuration" name="chargeDuration" ng-change="changeTotal(ChargeDuration,doctor.charge4)" ng-options="Duration.Name for Duration in Durations track by Duration.Value">
        </select>
    </label>

    <div class="row">
      <span class="col">医生收费</span>
      <span class="col" style="text-align: right;">{{doctor.charge4}}(元/月)</span>
    </div>
    <div class="row">
      <span class="col">付款金额</span>
      <span class="col" style="text-align: right;font-weight: bold;color:#6ac4f8">{{(ChargeTotal/100).toFixed(2)}}元</span>
    </div>



    <button style="margin-top:10px" class="button roundBtn" ng-click ="SubmitRequest(doctor.userId,ChargeDuration.Value,ChargeTotal)">
        提交申请
    </button>

    

    
    

     






  </ion-content>

</ion-view>
