<ion-view cache-view="false" title="肾病信息">
  <ion-nav-bar class="bar-positive green-bg" align-title="center">
<!--     <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-ios-arrow-left fc-ff" ng-click="$ionicGoBack()"></button>
    </ion-nav-buttons> -->
<!--     <ion-nav-buttons side="right">
      <span class="button  button-icon" ng-click ="nexttoquestion()">
        下一步
      </button>
    </ion-nav-buttons> -->
  </ion-nav-bar>
  <div  style="position: absolute;top: 43px;z-index:100;display: block;height: 2.5px;background-color: #33cd5f;{{barwidth}}" ></div>
  <ion-content  style="">

    <div  class="list">
      <ionic-datepicker padding="true" input-obj="datepickerObject4" class="item item-input" style="border: 0;border-bottom: 1px solid #ddd;margin: 0">
        <span class="input-label">
          <i class="iconfont icon-shijian" style="font-size: 24px;vertical-align: middle;margin-right: 5px"></i>
          慢性肾病首次发病时间
        </span>
        <input  ng-model="Questionare.LastDiseaseTime"  type="text">
      </ionic-datepicker>
    <div>
      <!-- <ionic-datepicker padding="true"  class="item item-input" style="border: 0;border-bottom: 1px solid #ddd;margin: 0"> -->
        <span class="input-label">
          <i class="iconfont icon-keshishouyaohuizhen" style="font-size: 24px;vertical-align: middle;margin-right: 5px"></i>
          最近一次就诊信息
        </span>
      <!-- </ionic-datepicker> -->
      <label class="item item-input" style="margin:  0 10px;border-left: 0;border-right: 0;border-top: 0">
        <span class="input-label" style="margin-left:8px ">就诊医院</span>
        <input  ng-model="Questionare.LastHospital"  type="text">
      </label>

      <ionic-datepicker input-obj="datepickerObject1" class="item item-input" style="margin:  0 10px;border-left: 0;border-right: 0;border-top: 0">
        <span class="input-label" style="margin-left:8px ">诊断日期</span>
        <input  ng-model="Questionare.LastVisitDate"  type="text">
      </ionic-datepicker>

        <label class="item item-input" style="margin-bottom: 0;margin:  0 10px;border-left: 0;border-right: 0;border-top: 0" >
        <span class="input-label" style="margin-left:8px;">诊断结果</span>
        <input  ng-model="Questionare.LastDiagnosis"  type="text">
      </label>
    </div>
    <!-- <div class="row row-wrap"> -->
      <!-- <div class="col col-20" ng-repeat="image in images track by $index">
          <img ng-src={{image}} class='img-responsive' style="width: 90%;height:90%" ng-click="showoriginal($index)" /> <i class="icon ion-close-circled" style="width: 10%;float: right" ng-click="deleteimg($index)"></i>
      </div> -->
      <!-- <ionic-datepicker padding="true"  class="item item-input" style="border: 0;border-bottom: 1px solid #ddd;margin: 0"> -->
        <span class="input-label">
          <i class="iconfont icon-xiangji" style="font-size: 24px;vertical-align: middle;margin-right: 5px"></i>
          添加健康信息
        </span>
      <!-- </ionic-datepicker> -->
      <ion-list>
      <ion-item ng-repeat="item in items" ng-click="gotoEditHealth($event,item)" >
        <div class="row">
          <div class="col-25">
          <div ng-repeat = "img in item.url">
            <img ng-src="{{img}}" style="width: 100%">
          </div>
          </div>
          <div class="col-75">
            <div>
              <h2 style="float:left;margin-left:3%">{{item.label}}</h2>
              <p style="text-align:right">{{item.time|dateFormat:"YYYY-MM-DD"}}</p>
            </div>
            <div>
              <p>{{item.description}}</p>
            </div>
          </div>
        </div>

        <div style="text-align: right">
          <i class="icon ion-trash-a" style="font-size: 3em;"></i>
          <!-- <button class="button button-clear" style="color:#666" ng-click="EditHealth(item)"><i class="icon ion-edit"></i></button> -->
        </div>

        <!-- <div class="row"> -->
          <!-- <div > -->
            <!-- <div>
              <h2 style="float:left;margin-left:3%">{{item.label}}</h2>
            </div>
          </br>
            <div>
              <p style="float:left;margin-left:3%">{{item.time}}</p>
            </div>
            <div>
              <p style="margin-left:3%">{{item.description}}</p>
              <div ng-repeat = "img in item.url">
                <img ng-src="{{img}}" style="width: 100%">
              </div>
            </div> -->
          <!-- </div> -->
        <!-- </div>   -->
<!-- <button class="button button-clear" style="color:#666;z-index:999" ng-click="DeleteHealth(item)"> </button>-->
       <!--  <div style="text-align: right">
          <i class="icon ion-trash-a"></i>
        </div> -->

<!--         <div style="text-align: right">
          <button class="button button-clear" style="color:#666" ng-click="DeleteHealth(item)"><i class="icon ion-trash-a"></i></button>
          <button class="button button-clear" style="color:#666" ng-click="EditHealth(item)"><i class="icon ion-edit"></i></button>
        </div> -->

      </ion-item>
       <div class="col col-20">
          <button class="button button-icon icon ion-plus-round" ng-click="addnewimage($event)"></button>
      </div>
    </ion-list>



    <button style="margin-top:0" class="button button-block button-balanced" ng-click ="nexttoquestion()">
            下一步
      </button>
      <button style="margin-top:0" class="button button-block button-balanced" class="button button-clear" ng-click="backtoBasic()">上一步
      </button>




    <!-- </div> -->
     <!-- <button style="margin-top:0" class="button button-block button-balanced green-bg mg-10" class="button button-clear" ng-click="backtoBasic()">上一步
    </button>-->






  </ion-content>

</ion-view>
