<ion-view cache-view="false" title="肾病信息">
  <ion-nav-bar class="bar-dark nav-title-slide-ios7" style="" >
    <ion-nav-back-button class="button-icon ion-arrow-left-c">
    </ion-nav-back-button>
    
  </ion-nav-bar>
  <div  style="position: absolute;top: 43px;z-index:100;display: block;height: 2.5px;background-color: #33cd5f;{{barwidth}}" ></div>
  <ion-content padding="true" style="">
    
    <div  class="list">
      <ionic-datepicker input-obj="datepickerObject4" class="item item-input">
        <span class="input-label" style="margin-left:8px ">慢性肾病首次发病时间</span>
        <input  ng-model="Questionare.FirstDiseaseTime"  type="text">
      </ionic-datepicker>
    <div>
      <span class="input-label" style="margin-left:6px "><i class="icon ion-clipboard" style="margin-right:3px;font-size:20px" ></i>最近一次就诊信息</span>
      <label class="item item-input">
        <span class="input-label" style="margin-left:8px ">就诊医院</span>
        <input  ng-model="Questionare.LastHospital"  type="text">
      </label>

      <ionic-datepicker input-obj="datepickerObject1" class="item item-input">
        <span class="input-label" style="margin-left:8px ">诊断日期</span>
        <input  ng-model="Questionare.LastDiagnosisTime"  type="text">
      </ionic-datepicker>

        <label class="item item-input">
        <span class="input-label" style="margin-left:8px ">诊断结果</span>
        <input  ng-model="Questionare.LastDiagnosis"  type="text">
      </label>
    </div>
    <div class="row row-wrap">
      <div class="col col-20" ng-repeat="image in images">
          <img ng-src={{image.image}} class='img-responsive' style="width: 90%" /> <i class="icon ion-close-circled" style="width: 10%;float: right" ng-click="deleteimg($index)"></i>
      </div>
      <div class="col col-20">
          <button class="button button-icon icon ion-plus-round" ng-click="addnewimage()"></button>
      </div>
    </div>

    

   

    </div>
      <button style="margin-top:0" class="button button-block button-balanced" ng-click ="nexttoquestion()">
            下一步
      </button>
      <button style="margin-top:0" class="button button-block button-balanced" class="button button-clear" ng-click="backtoBasic()">上一步
      </button>
    


           
  </ion-content>
          
</ion-view>