<ion-view cache-view="false" title="医生详情" >

  <ion-nav-bar class="bar-dark nav-title-slide-ios7" style="" >
      <ion-nav-buttons class="bar-dark nav-title-slide-ios7" side="left" >
         <button class="button button-clear"  ng-click="Goback()"><i class="icon ion-chevron-left"></i>返回</button>
      </ion-nav-buttons>
    </ion-nav-bar>


  <ion-content padding="true" style="">

     <ion-list>
      <ion-item  class="item-thumbnail-left">
        <img ng-src="{{doctor.img || 'img/doctor3.PNG'}}">
        <span>{{doctor.name}}</span>
        <span style="float: right">{{doctor.department}}</span>
        <p>{{doctor.workUnit}}  {{doctor.title}}</p>
       
        <p style="font-size: 12px">收费：<span>咨询{{doctor.charge1}}元一答</span><span style="margin-left: 10px">问诊{{doctor.charge2}}元一次</span></p>
        <p style="color:#2B67F5;font-size: 12px">
          <i class="icon ion-star"></i><span>{{doctor.score}}</span>
          <span style="margin-left: 10px">咨询量：{{doctor.count1}}</span>
          <span style="margin-left: 10px">问诊量：{{doctor.count2}}</span>
        </p>
        <p style="color:#181544;text-align: right;font-weight:bold;">
          <span ng-click="question({{doctor.id}})"><i class="icon ion-help-circled"></i>咨询</span>
          <span style="margin-left: 40px" ng-click="consult({{doctor.id}})"><i class="icon ion-person-stalker"></i>问诊</span>

        </p>

      </ion-item>

      <ion-item>
        <span style="font-size: 24px"><i class="icon ion-ios-lightbulb-outline"></i>擅长方向</span>
         <p style="font-size: 16px" class="item-text-wrap">{{doctor.major}}</p>
      </ion-item>

      <ion-item class="item-text-wrap">
        <span style="font-size: 24px"><i class="icon ion-clipboard"></i>个人介绍</span>
         <p style="font-size: 16px" >{{doctor.description}}</p>
      </ion-item>
     
    </ion-list>
    
    
    


           
  </ion-content>
          
</ion-view>