<ion-view cache-view="false" title="我的医生" >

  


  <div  style="position: absolute;top: 43px;z-index:100;display: block;height: 2.5px;background-color: #33cd5f;{{barwidth}}" ></div>
  <ion-content padding="true" style="">

    <ion-list>
      <ion-item ng-repeat="doctor in mydoctors" class="item-thumbnail-left" ng-click="getDoctorDetail($event,doctor.id)">
        <img ng-src="{{doctor.img}}">
        <span>{{doctor.name}}</span>
        <span style="margin-left: 120px">{{doctor.department}}</span>
        <p>{{doctor.workUnit}}{{doctor.title}}</p>
        <p style="font-size: 12px">擅长：{{doctor.major}}</p>
        <p style="font-size: 12px">收费：<span>咨询{{doctor.charge1}}元一答</span><span style="margin-left: 10px">问诊{{doctor.charge2}}元一次</span></p>
        <p style="color:#2B67F5;font-size: 12px">
          <i class="icon ion-star"></i><span>{{doctor.score}}</span>
          <span style="margin-left: 10px">咨询量：{{doctor.count1}}</span>
          <span style="margin-left: 10px">问诊量：{{doctor.count2}}</span>
        </p>
        <p style="color:#181544;text-align: right;font-weight:bold;">
          <span "><i class="icon ion-help-circled"></i>咨询</span>
          <span style="margin-left: 40px"><i class="icon ion-person-stalker"></i>问诊</span>

        </p>

      </ion-item>
    </ion-list>

    <div>
      <button style="margin-top:10px" class="button button-block button-balanced" ng-click ="allDoctors()">
            更多医生
      </button>

    </div>
      


    
    
    


           
  </ion-content>
          
</ion-view>