<ion-view cache-view="false" title="我的医生" show-tabs>




  <div  style="position: absolute;top: 43px;z-index:100;display: block;height: 2.5px;background-color: #33cd5f;{{barwidth}}" ></div>
  <ion-content style="">
    <div>
         <button style="margin-top:10px" class="button button-block button-balanced green-bg" ng-click ="allDoctors()">
            更多医生
        </button>

    </div>

    <ion-list>
      <ion-item class="item-thumbnail-left" ng-click="getDoctorDetail($event,doctor.userId)">
        <img style="border-radius: 100%" ng-src="{{doctor.photoUrl  || 'img/doctor3.PNG'}}">
        <span>{{doctor.name}}</span>
        <span style="float: right">{{doctor.department}}</span>
        <p>{{doctor.workUnit}}  {{doctor.title}}</p>
        <p style="font-size: 12px">擅长：{{doctor.major}}</p>
        <p style="font-size: 12px">收费：<span>咨询{{doctor.charge1}}元一答</span><span style="margin-left: 10px">问诊{{doctor.charge2}}元一次</span></p>
        <div class="row" style="font-size: 14px">
            <div class="col"><span class="font-c">评分:{{doctor.score}}</span></div>
            <div class="col" ><span  class="font-c">咨询量：{{doctor.count1}}</span></div>
            <div class="col" > <span class="font-c">问诊量：{{doctor.count2}}</span></div>

        </div>
        <div class="row">
          <div class="col-40"></div>
          <div class="col icon-c"><span><i class="icon iconfont icon-zixun2"  style="vertical-align: middle;margin-right: 5px"></i>咨询</span></div>
          <div class="col icon-c" ><span><i class="icon iconfont icon-baojifuben"  style="vertical-align: middle;margin-right: 5px"></i>问诊</span></div>
        </div>

      </ion-item>
    </ion-list>











  </ion-content>

</ion-view>
