<!-- 任务视图中的列表-tab -->
<ion-view view-title='任务'>
<ion-nav-buttons side="primary">
<!-- class="icon ion-qr-scanner" -->
   <!--     <a class="button icon-left ion-qr-scanner button-clear" ng-click="scanbarcode()"></a>
        <a class="button icon-left ion-ios-refresh-empty button-clear" ng-click="Refresh()"></a>-->

    </ion-nav-buttons>

  <div  style="position: absolute;top: 43px;z-index:100;display: block;height: 2.5px;background-color: #33cd5f;{{barwidth}}" ></div>
    <ion-content class="padding">
        <div class="list">
            <a class="item green-bg font-white" style="border: 0" ng-click="open==true?open=false:open=true" ng-model="open">
                测量<i class="iconfont icon-shang mg-left10"></i>
                <a class="item item-icon-right" ng-show="!open" ng-repeat="item in Tasks.Measure">
                  <span class="font-33c">{{item.Name}}</span>
                    <p class="mg-top5">{{item.Freq}}</p>
                    <p>{{item.instruction}}</p>
                    <i ng-if = "!item.Flag" class="icon iconfont icon-xiugaibi" style="font-size:20px" ng-click = "showPopup(item, 'input')"></i>
                    <i ng-if = "item.Flag" class="icon ion-ios-checkmark-empty"></i>
                </a>
            </a>

            <a class="item green-bg font-white" style="border: 0">
                <label>其它</label><span class="mg-left10 mg-right10">|</span><label ng-click = "openModal()">医生排班表</label><i class="iconfont icon-icondayu"></i>
                <a class="item item-icon-right" ng-repeat = "item in Tasks.Other">
                    {{item.Name}}
                    <p>{{item.Freq}}</p>
                    <p>任务时间：{{item.startTime}}</p>
                    <p>{{item.instruction}}</p>
                  <!--  <i ng-if = "!item.Flag" class="icon ion-edit" style="font-size:20px" ng-click = "showPopup(item, 'textarea')"></i>-->
                  <i ng-if = "!item.Flag" class="icon iconfont icon-xiugaibi" style="font-size:20px" ng-click = "showPopup(item, 'input')"></i>
                  <i ng-if = "item.Flag" class="icon ion-ios-checkmark-empty"></i>
                </a>
            </a>
        </div>
        <!-- <button ng-click="Test()">测试</button>
        <h>{{TestTime}}</h> -->
    </ion-content>
    <script id="templates/modal.html" type="text/ng-template">
      <ion-view title="任务">
        <ion-nav-bar class="bar-positive green-bg" align-title="center">
          <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-ios-arrow-left fc-ff" ng-click="modal.hide()"></button>
          </ion-nav-buttons>
          <ion-nav-title>任务</ion-nav-title>
          <ion-nav-buttons class="bar-dark nav-title-slide-ios7" side="right" >
            <button class="button button-clear" ng-click="GoToMessage() " head-red-point='true'><i class="icon iconfont icon-lingdang"></i></button>
          </ion-nav-buttons>
        </ion-nav-bar>
        <ion-content class="padding has-header" >
          <table style="border: solid 1px #6ac4f8;width:100%;cellpadding:20;text-align: center" >
          <caption style="padding:15px">医生排班表</caption>

            <tr style="border: solid 1px #6ac4f8; height:40px;line-height: 40px">
                <td style=";border-right: 1px solid #6ac4f8"></td><td ng-repeat="item in Docweek" style=";border-right: 1px solid #6ac4f8">{{item}}</td>
            </tr>
            <tr style="border: solid 1px #6ac4f8; height:40px;line-height: 40px">
                <td style="border-right: 1px solid #6ac4f8">上午</td>
                <td style="background:#fff;width: 12.5%;border-right: 1px solid #6ac4f8"></td>
                <td style="background:#6ac4f8;width: 12.5%;border-right: 1px solid #6ac4f8"></td>
                <td style="background:#fff;width: 12.5%;border-right: 1px solid #6ac4f8"></td>
                <td style="background:#fff;width: 12.5%;border-right: 1px solid #6ac4f8"></td>
                <td style="background:#6ac4f8;width: 12.5%;border-right: 1px solid #6ac4f8"></td>
                <td style="background:#fff;width: 12.5%;border-right: 1px solid #6ac4f8"></td>
                <td style="background:#fff;width: 12.5%"></td>
            </tr>
            <tr style="border: solid 1px #6ac4f8; height:40px;line-height: 40px">
                <td>下午</td>
              <td style="background:#6ac4f8;width: 12.5%;border-right: 1px solid #6ac4f8"></td>
                <td style="background:#fff;width: 12.5%;border-right: 1px solid #6ac4f8"></td>
              <td style="background:#6ac4f8;width: 12.5%;border-right: 1px solid #6ac4f8"></td>
                <td style="background:#fff;width: 12.5%;border-right: 1px solid #6ac4f8"></td>
              <td style="background:#6ac4f8;width: 12.5%;border-right: 1px solid #6ac4f8"></td>
                <td style="background:#fff;width: 12.5%;border-right: 1px solid #6ac4f8"></td>
                <td style="background:#fff;width: 12.5%;border-right: 1px solid #6ac4f8"></td>
            </tr>

        </table>
          <p style="color: #8d8d8d;margin-top: 15px">注: 蓝色色块为排班时间</p>
        </ion-content>
      </ion-view>
    </script>
</ion-view>
