<ion-view view-title="{{Title}}填写">
     <ion-nav-buttons side="primary">
        <a class="button button-icon icon ion-ios-arrow-left" href="#/tab/tasklist"></a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="content padding has-header">
        </div>
        <div class="list">
            <label class="item item-input">
                <textarea style="height:150px;"></textarea>
            </label>
        </div>
        <!-- <div class="content padding has-header"> -->
            <button class="button button-block button-positive" ng-click="FillOk()">确定</button>
        <!-- </div> -->
    </ion-content>
</ion-view>
