#chooseHealth:after {
  content: "\2714";
  display: block;
  position: absolute;
  /*margin: auto;*/
  top: 0; 
  /*left: 0; */
  /*bottom: 0; */
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background:  #00c09e;
  border-radius: 50px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  z-index: 100;
  opacity: 0;
  transition:         0.3s linear;
  -o-transition:      0.3s linear;
  -ms-transition:     0.3s linear;
  -moz-transition:    0.3s linear;
  -webkit-transition: 0.3s linear;
  -o-user-select:      none;
  -moz-user-select:    none;
  -webkit-user-select: none;
  cursor: pointer;
}

#healthCheck.item-checkbox{
  padding: 0px !important;
  margin: 20px 0px;
  background-color:transparent !important;
  background-image: none !important;
  border:0px !important;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

#healthCheck.item-checkbox .checkbox {
  top:24px;
  left: 90%;
  padding-top: 5px;
  padding-bottom: 5px;
}


#healthCheck.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background: #6ac4f8;
    border-color: #6ac4f8;
}

#healthButton{
  border-color: #ffffff;
  color: #ffffff;
}