/*公共样式*/
.green-bg {
  background: #6ac4f8 !important;
}
.green-white-bg {
  background: white !important;
}
.green-edite-css {
  border: 1px solid #6ac4f8 !important;
  border-radius: 10px !important;
}
.f-fr{
  float: right;
}
.bg-fa{
  background: #fafafa;
}
.mg-10 {
  margin-top: 10px !important;
}

.mg-top-5 {
  margin-top: 5px !important;
}

.mg-20 {
  margin-top: 20px !important;
}

.mg-top {
  margin-top: 5px !important;
}

.mg-left10 {
  margin-left: 10px !important;
}

.mg-left20 {
  margin-left: 20px !important;
}

.mg-right10 {
  margin-right: 10px !important;
}

.font-white {
  color: white !important;
  text-align: center;
}
.font-c{
  color: #6ac4f8!important;
}
.icon-c{
  color: #ea790a!important;
  font-size: 12px;
}

.c-red {
  color: red !important;
  font-size: 10px;
}

.ion-iphone1 {
  font-size: 20px;
  margin-left: 5px;
}

.font-33c {
  color: #333333 !important;
  font-size: 18px;
}
/*圆角弹窗*/
.popup{
  border-radius: 5px!important;
  overflow: hidden;
}
.button.button-positive{
  background: #6ac4f8;
  font-weight: inherit;
}
.button.button-positive.activated{
  background: #6ac4f8;
  border-color:#6ac4f8;
}
/*公共导航*/
.m-tabs.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated{
  color: #6ac4f8!important;
}
.m-tabs i{
  line-height: 32px;
}
.m-tabs i:before{
  font-size: 24px;

}



/*消息*/
.all-message-cont{

}
.all-message-list .item{
  padding-left: 90px;
}
.all-message-list .item.new-message:before{
  content: '·';
  font-size: 70px;
  color: #ff7f00;
  position: absolute;
  left: 16px;
}
.all-message-list .item img{
  left: 35px!important;
}
/*医生列表*/
.all-doctors-select select{
  width:40%;
  border: 0;
  border-right: 1px solid #e4e4e4;
  height: 28px;
  line-height: 28px;
  text-align: center;
  padding: 0 5%;
}
.all-doctors-select select:last-child{
  border-right: 0;
}

.all-doctors-select select option{
  text-align: center;
}
























.right:after {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  position: absolute;
  top: 50%;
  right: 11px;
  display: block;
  margin-top: -8px;
  color: #ccc;
  content: "\f125";
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-size: 16px;
  font-family: 'Ionicons';
  line-height: 1;
  speak: none;
}

.title {
  color: white !important;
}
.login_outbtn {
  width: 80% !important;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
}
.select-style{
   text-align: center!important;
  border: none!important;

}
