/* Empty. Add your own CSS if you like */
.head-red-point {
  position: absolute;
  top: 12%;
  right: calc(50% - 20px);
  height: 6px;
  width: 6px;
  border-radius: 5px;
  background-color: red
}


.image-red-point {
  position: absolute;
  top: 12%;
  right: calc(85% - 20px);
  height: 6px;
  width: 6px;
  border-radius: 5px;
  background-color: red
}

.ionic_ratings .icon {
  font-size:50px;
}

.ionic_ratings .read_only {
  pointer-events:none;
}

input:disabled{
    
    background-color: #FFFFFF;
    /*color:#ACA899;*/
}