<ion-view cache-view="false" title="保费计算">
  <!-- <ion-nav-bar class="bar-positive green-bg" align-title="center"> -->
    <ion-nav-buttons side="left">
        <my-nav-back-button ng-click="$ionicGoBack()"></my-nav-back-button>
    </ion-nav-buttons>
  <!-- </ion-nav-bar> -->
  <ion-content >
      <div class="list">
          <label class="item item-input item-select">
               <i class="icon_mine ion-android-contacts" style="color: #FFC125"></i><span class="input-label">&nbsp;&nbsp;年龄&thinsp;<span style="color:red;">*</span></span>
              <select  ng-model="InsuranceInfo.InsuranceAge" ng-options="InsuranceAge.Age as InsuranceAge.Age for InsuranceAge in InsuranceAges"></select>
          </label>
          <label  class="item item-input item-select">
              <i class="ion-male" style="color: #6495ED"></i><span class="input-label">&nbsp;&nbsp;性别&thinsp;<span style="color:red;">*</span></span>
              <select  ng-model="InsuranceInfo.Gender" ng-options="Gender.Type as Gender.Name for Gender in Genders"></select>
          </label>
          <label class="item item-input item-select">
              <i class="icon ion-calendar" style="color: #FF69B4"></i><span class="input-label">&nbsp;&nbsp;投保年限&thinsp;<span style="color:red;">*</span></span>
              <select  ng-model="InsuranceInfo.InsuranceTime" ng-options="Insurance.Time as Insurance.Time for Insurance in InsuranceTimes" ng-change="changeAge()"></select>
          </label>
          <label  class="item item-input item-select">
              <i class="ion-ios-search-strong" style="color: #66CD00"></i><span class="input-label">&nbsp;&nbsp;计算类型&thinsp;<span style="color:red;">*</span></span>
              <select  ng-model="InsuranceInfo.CalculationType" ng-options="Calculation.Type as Calculation.Name for Calculation in CalculationTypes"></select>
          </label>
          <label class="item item-input" style="color: #8DEEEE">
              <i class="ion-social-yen-outline"></i><span class="input-label">&nbsp;&nbsp;输入金额&thinsp;<span style="color:red;">*</span></span>
              <input ng-model="InsuranceInfo.InsuranceMoney" type="number" placeholder="&nbsp;&emsp;&emsp;&emsp;请输入您的投保金额">
          </label>
    </div>
    <div>
      <button style="margin:20px auto;width:80%; border-radius:50px;" class="button button-block green-bg font-white" ng-click="getexpense()">计算</button>
      <button style="margin:20px auto;width:80%; border-radius:50px;" class="button button-block green-bg font-white" ng-click="resetexpense()">重置</button>
    </div>
  </ion-content>
</ion-view>